{% load staticfiles %}
<head> <link rel="stylesheet" href={% static "css/style.css" %}/> </head>
<header>
    <h2 class = "shop" ><a style="text-decoration:none" href="/" >SHOP</a></h2>
  </header>
  {% if login != '' %}
  <div class="hello">Привет, {{ login }}</div>
  {% endif %}
{% if goods %}
<ul>
{% for item in goods %}
  <li> {{item.name}}   {{item.price}}</li>
  <form action="/blog/delete_cart/{{ item.id }}" >
      <button type="submit">DELETE</button>
  </form>


{% endfor %}
</ul>
{% else %}
<p>Нет товаров в корзине</p>
{% endif %}

<form action="/blog/order" >
    <button type="submit">оформить заказ</button>
</form>
