{% load staticfiles %}
<head> <link rel="stylesheet" href={% static "css/style.css" %}/> </head>
<header>
    <h2 class = "shop" ><a style="text-decoration:none" href="/" >SHOP</a></h2>
  </header>
  {% if login != '' %}
  <div class="hello">Привет, {{ login }}</div>
  <form action="/blog/cart" >
      <button type="submit"> <img src="http://www.iconsearch.ru/uploads/icons/androiddevicons/48x48/shopping.png" alt="Корзина"
          style="vertical-align: middle"></button>
  </form>

  <form action="/blog/cart" >
      <button type="submit">корзина</button>
  </form>
  {% else %}
  <div class="hello">Войдите в свой аккаунт</div>
  {% endif %}
{{category_name}}
<table>
  <tr>{% if goods %}
{% for item in goods %}
    <td class ="goods"><a style="text-decoration:none" href="/blog/{{ item.id }}/">{{item.name}}</a>   {{item.price}}</td>
{% endfor %} </tr>
</table>
{% else %}
  <p>No goods are available.</p>
{% endif %}
