{% load staticfiles %}
<head> <link rel="stylesheet" href={% static "css/style.css" %}/> </head>
<header>
    <h2 class = "shop" ><a style="text-decoration:none" href="/" >SHOP</a></h2>
  </header>
  {% if login != '' %}
    <div class="hello">Привет, {{ login }}</div>
    <form action="/blog/cart" >
        <button type="submit"> <img src="http://www.iconsearch.ru/uploads/icons/androiddevicons/48x48/shopping.png" alt="Корзина"
            style="vertical-align: middle"></button>
          </form>
  {% else %}
  <div class="hello">Войдите в свой аккаунт</div>
  <form action="/blog/registration" >
      <button type="submit"> <img src="http://www.iconsearch.ru/uploads/icons/androiddevicons/48x48/shopping.png" alt="Корзина"
          style="vertical-align: middle"></button>
        </form>
  {% endif %}
<h1>{{ good.name }}</h1>
<li>{{ good.price }} {{good.brand}} {{good.info}}</li>
{% if login != '' %}
    <form action="/blog/detail/buy/{{ good.id }}" >
        <button type="submit">ADD TO CART</button>
    </form>
{% else %}
    <form action="/blog/registration" >
      <button type="submit">ADD TO CART</button>
    </form>
{% endif %}
