{% load staticfiles %}
<head> <link rel="stylesheet" href={% static "css/style.css" %}/> </head>
<header>
    <h2 class = "shop" ><a style="text-decoration:none" href="/" >SHOP</a></h2>
  </header>
  {% if login != '' %}
  <div class="hello">Привет, {{ login }}</div>
  {% endif %}
<form action="/blog/order_making" method="post">
  {% csrf_token %}
  {{ order }}
  <input type="submit" value="Далее" />
</form>
