{% load staticfiles %}
<head> <link rel="stylesheet" href={% static "css/style.css" %}/> </head>
<header>
    <h2 class = "shop" ><a style="text-decoration:none" href="/" >SHOP</a></h2>
  </header>
  {% if login != '' %}
  <div class="hello">Привет, {{ login }}</div>
  {% endif %}
{% if goods %}
<ul>
{% for item in goods %}
    <li> {{item.name}}   {{item.price}}</li>
{% endfor %}
</ul>
{% else %}
  <p>Нет товаров в корзине</p>
{% endif %}
  ваше имя  <h2> {{user.fname}}</h2>
  ваша фамилия  <h2> {{user.lname}}</h2>
  адрес доставки  <h2> {{order.address}}</h2>
  номер тф  <h2> {{order.phone_number}}</h2>
    <h2 style="color:#CD5C5C">Итого:</h2>
    <h2> {{sum}}</h2>
    <form action="/" >
      <button type="submit"> <img src="http://iconspot.ru/image.php?width=128&height=128&crop=none&id=13936" alt="готово"
          style="vertical-align: middle"></button>
    </form>
