{% load staticfiles %}
<head> <link rel="stylesheet" href={% static "css/style.css" %}/> </head>
<header>
    <h2 class = "shop" ><a style="text-decoration:none" href="/" >SHOP</a></h2>
  </header>
<form action="/blog/reg" method="post">
  {% csrf_token %}
  {{ reg }}
  <input type="submit" value="Зарегистрироваться" />
</form>
