body {
  background-color: #F5F5F5
}

div.hello {
  font-size: 12pt;
  position: fixed;
  top: 0;
  right: 0;
  left: 1200;
}
div.logreg {
  position: fixed;
  top: 40;
  right: 0;
  left: 1200;

}
div.cart{
  position: fixed;
  top: 100;
  right: 0;
  left: 1200;
  font-size: 100pt
}
td.goods {
    font-size: 12pt;
    font-weight: normal;
    background: #F8F8FF;
    border-right: 1px solid #9baff1;
    border-left: 1px solid #9baff1;
    color: #039;
    border-color: transparent;
    padding: 50pt;
   }
   td.goods {
       font-size: 12pt;
       font-weight: normal;
       background: #F8F8FF;
       border-right: 1px solid #9baff1;
       border-left: 1px solid #9baff1;
       color: #039;
       border-color: transparent;
       padding: 50pt;
      }
h2.shop {
     text-align: center;
     color:#CD5C5C
   }
